body {
    margin: 0;
    font-family: Sans-serif;
}


/*header {
    background: $template-color;
    color: #fff;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    width: 100%;
    div {
        margin: 20px;
    }
}

article {
    margin: 15px;
}*/

.container {
    @include flex-layout(inherit, flex, wrap, inherit);
    .nav {
        background: $template-color;
        height: 100vh;
        color: silver;
        .nav-title {
            /*text-align: center;*/
            margin: 15px;
            font-size: 20px;
        }
        .logo {
            img {
                opacity: 0.3;
                @include transition(2s);
                &:hover {
                    @include transform(rotate(360deg));
                }
            }
        }
        .nav-content {
            margin: 20px;
            ul {
                padding: 0;
                margin: 0;
                line-height: 2;
                li {
                    list-style-type: none;
                    a {
                        color: silver;
                        text-decoration: none;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .section {
        flex: 1;
        .content {
            margin: 8px 15px;
            .main-title {
                font-size: 20px;
                margin-bottom: 10px;
                color: grey;
            }
        }
    }
}
