.drag-drop {
    @include flex-layout(center, flex, wrap, center);
    .arrow {
        color: $template-color;
        font-size: 30px;
    }
    .element {
        padding: 20px;
        border: solid;
        margin: 20px;
        color: #fff;
        cursor: move;
        position: relative;
        @include transition(0.5s);
        &.start {
            border: dashed;
            @include transform(scale(0.5));
        }
        &:nth-of-type(odd) {
            background: $template-color;
        }
        &:nth-of-type(even) {
            background: #3C5BAA;
        }
    }
    .drop-content,
    .drag-content {
        box-shadow: 2px 4px 12px #333;
        width: 35%;
        position: relative;
        background: #fff;
        @include transition(0.5s);
        &.over {
            @include transform(scale(1.1));
            box-shadow: 2px 4px 30px #333;
        }
    }
    .drop-content {
        margin-left: 10px;
    }
    .drag-content {
        margin-right: 10px;
    }
}
