.search {
    .search-items {
        @include flex-layout(center, flex, inherit, flex-end);
        .field {
            position: absolute;
            width: 0%;
            overflow: hidden;
            @include transition(0.8s);
            input {
                padding: 6px;
                width: 100%;
                visibility: hidden;
                @include transition(0.5s);
            }
        }
        &.active {
            background: #fff;
            .field {
                width: 100%;
                input {
                    padding-right: 30px;
                    visibility: visible;
                }
            }
        }
        .icon {
            margin: 0 10px;
            cursor: pointer;
            z-index: 100;
        }
    }
}
